{% extends "main/base.html" %}
{% block title %}About{% endblock %}

{% block content %}
<h1>WARNING:</h1>
<p>Just so you know this website is for learning Django and HTML. I will be changing it soon</p>
<h1>About Koopa/Colin</h1>
<p>Hello, my name is Colin. My online name is Koopa, I made it this because 1 I thought it was kinda cool, and 2 I just wanted a new name. I really enjoy programming and game development. I made this website using Django HTML. This project was a little bit long, I made this site over the course of a couple days longer than my most usual projects. The only projects I make so far are some pretty basic games in Unity (I am looking forward to using Unreal Engine soon though) and discord bots.</p>
{% endblock %}