{% extends "main/base.html" %}

{% block title %}
Koopa's Site
{% endblock %}

{% block content %}
<h1>Welcome to Koopa's Site</h1>
<img src="https://lh3.googleusercontent.com/9CHXIbyrjjz1ySkx68zEbnsCKyZ0ona82cWwxkkIDNy0bIrBXxNFmPsT2HpL23JUILKjZ-Q=s151
" alt="Koopa Troopa" height="200" width="250"></img>
<img src="https://lh3.googleusercontent.com/O8OXkYoUpZDoQtgXXJIak3nqdzYKzmGeuB2wPHOhtyG6BJ15oGSV5BbxDGX40rYjSwpAMA=s85
" alt="Koopa Troopa" height="200" width="250"></img>
<img src="https://lh3.googleusercontent.com/8yIcxiPweKxiKu7vullQSU0i1o9Rg8BDXnJ6FL0TciCOkwvMHu29yX65AYhTfUB92NLZ=s151
" alt="Koopa Troopa" height="200" width="250"></img>
<img src="https://lh3.googleusercontent.com/DsBdMVsPeJ8gbxuUU6TE6GTJ2mfc8yZRUQUzCcFT0jObmUzivpKKYdmpdMpBit6jSWe4FNg=s136
" alt="Koopa Troopa" height="200" width="250"></img>
<p>These are images from my friend "Big D"</p>
<p>This is a site all about creating To Do Lists, this is a custom website using Django, and HTML. </p>
{% endblock %}
